---
layout: page
title: Projects
---
<section class="list">
    <!-- {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %} -->
    <h2>Eğitim</h2>

<ul class="skill-list">
	<li>👨‍🎓 Namık Kemal Üniversitesi   |   2015 - 2019
	<br>
	💻 Bilgisayar Mühendisliği 
	</li>
	<br>	
	<li>👨🏻‍🎓 Halil Akkanat Anadolu Lisesi   |   2011 - 2015</li>
</ul>
</section>
